@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgop: #293133;
  --dop: #2ECC71;
  --dark: #2D2D2D;
  --light: #F5F5F5;
}

body{
  background-color: var(--bgop);
  color: var(--dark);
}
