@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgop: #1A1F2D; /* Глубокий темно-синий/серый */
  --dop: #27AE60;  /* Более приятный зеленый */
  --dark: #252A34; /* Насыщенный темный */
  --light: #E5E5E5; /* Мягкий светлый */
}

body{
  background-color: var(--bgop);
  color: var(--dark);
}
